.brends {
  transform: translateY(-540px);
}

.brends-top-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brends-bottom-list {
  list-style-type: none;
  margin: 0;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brends-bottom-text {
  width: 268px;
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: 18px;
  line-height: 149.8%;
  color: #000000;
}