.customers {
  padding-left: 66px;
  padding-right: 85px;
}

.right__heading {
  margin: 0;
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: 22px;
  line-height: 149.8%;
  color: rgba(255, 255, 255, 0.7);
}

.right__text {
  margin: 0;
  font-family: 'Segoe UI';
  font-size: 14px;
  line-height: 149.8%;
  color: rgba(255, 255, 255, 0.7);
}