.site-logo {
  text-decoration: none;
  display: inline-block;
}

.site-logo__img {
  width: 143px;
  height: 59px;
  display: block;
}

.footer__logo-link {
  text-decoration: none;
  display: inline-block;
}

.footer__logo-img {
  width: 164px;
  height: 55px;
  display: block;
}